.redish-border-1px {
	border: 1px solid #e15e6e !important;
}

.redish-text {
	color: #e15e6e !important;
}

.text-justify {
	text-align: justify;
}

.green-text-box {
	background-color: #c3e6d4 !important;
}

.h-80vh {
	height: 80vh;
}

.h-10vh {
	height: 10vh;
	min-height: 100px;
}

.max-h-25vh {
	max-height: 25vh !important;
}

.object-fit-cover {
	-o-object-fit: cover;
	object-fit: cover;
}