@use "Common";

.card-img-top {
	-o-object-position: 0 16%;
	object-position: 0 16%;
}

.card {
	border: solid 1px #e0c4ae !important;
}

.project-card {
	text-decoration: none;
	color: inherit;
}

@media (max-width: 770px) {
	.card-img-top {
		max-height: 50vh;
	}
}